main > .head-part1 {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
main > .head-part1 > header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
main > .head-part1 > header > .logo {
  cursor: default;
}
main > .head-part1 > header > nav {
  width: 50%;
}
main > .head-part1 > header > nav > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
main > .head-part1 > header > nav > ul > li > a {
  color: rgb(99, 97, 97);
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
main > .head-part1 > header > nav > ul > li > a:hover {
  color: rgba(255, 0, 0, 0.849);
}
main > .head-part1 > .head-bottom {
  width: 60%;
  height: 300px;
  padding: 0 100px;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
main > .head-part1 > .head-bottom > * {
  margin-top: 25px;
  color: white;
  font-family: "Lato", sans-serif;
}
main > .head-part1 > .head-bottom > h2 {
  font-size: 1.3rem;
}
main > .head-part1 > .head-bottom > h1 {
  font-size: 4rem;
}
main > .head-part1 > .head-bottom > p {
  font-size: 1.1rem;
}
main > .head-part1 > .head-bottom > a {
  margin-bottom: -100px 0;
  padding: 20px 35px;
  font-family: "Lato", sans-serif;
  background-color: rgba(255, 0, 0, 0.849);
  border: none;
  outline: none;
}
main > .dishes-part2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
main > .dishes-part2 > .top {
  width: 50%;
  height: 150px;
  margin: 50px auto;
}
main > .dishes-part2 > .top > * {
  text-align: center;
  font-family: "Lato", sans-serif;
}
main > .dishes-part2 > .top > h2 {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.911);
}
main > .dishes-part2 > .top > p {
  margin-top: 30px;
  font-size: 1.1rem;
  color: #504f4f;
}
main > .dishes-part2 > .bottom {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}
main > .dishes-part2 > .bottom > figure {
  width: 26%;
  height: 100%;
  overflow: hidden;
}
main > .dishes-part2 > .bottom > figure > img {
  width: 100%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s;
}
main > .dishes-part2 > .bottom > figure > img:hover {
  transform: scale(1.1);
}
main > .dishes-part2 > .bottom > figure > figcaption {
  width: 100%;
  height: 40%;
}
main > .dishes-part2 > .bottom > figure > figcaption > * {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}
main > .dishes-part2 > .bottom > figure > figcaption > h2 {
  font-size: 1.2rem;
  transition: 0.6s;
  color: rgba(0, 0, 0, 0.904);
  cursor: default;
}
main > .dishes-part2 > .bottom > figure > figcaption > h2:hover {
  color: rgba(255, 0, 0, 0.884);
}
main > .dishes-part2 > .bottom > figure > figcaption > p {
  font-size: 1rem;
  color: #504f4f;
}
main > .foods-part3 {
  width: 100%;
  min-height: 80vh;
  background-image: url("../img/5.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .foods-part3 > div {
  width: 60%;
  height: 100px;
}
main > .foods-part3 > div > * {
  margin-top: 40px;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
}
main > .foods-part3 > div > h3 {
  font-size: 2rem;
}
main > .foods-part3 > div > h4 {
  font-size: 1.5rem;
}
main > .four-img {
  width: 100%;
  min-height: 400px;
  border-bottom: 1px solid rgb(240, 237, 237);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
main > .four-img > div {
  width: 20%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
main > .four-img > div > * {
  width: 100%;
  line-height: 40px;
  font-family: "Lato", sans-serif;
}
main > .four-img > div > h2 {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.89);
}
main > .four-img > div > p {
  color: #504f4f;
}
main > .menus-part5 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
main > .menus-part5 > .top-menu {
  width: 50%;
  height: 100px;
  margin: 100px auto;
}
main > .menus-part5 > .top-menu > * {
  text-align: center;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}
main > .menus-part5 > .top-menu > h2 {
  font-size: 2.8rem;
  color: rgba(0, 0, 0, 0.884);
}
main > .menus-part5 > .top-menu > p {
  font-size: 1.2rem;
  color: #504f4f;
}
main > .menus-part5 > .bottom-menu {
  width: 100%;
  height: 60vh;
  padding: 0 100px;
  display: flex;
}
main > .menus-part5 > .bottom-menu > .left {
  width: 50%;
}
main > .menus-part5 > .bottom-menu > .left > * {
  padding: 30px 30px;
  font-family: "Lato", sans-serif;
}
main > .menus-part5 > .bottom-menu > .left h2 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.849);
}
main > .menus-part5 > .bottom-menu > .left p {
  font-size: 1.2rem;
  color: #504f4f;
  line-height: 30px;
}
main > .menus-part5 > .bottom-menu > .left a {
  background-color: rgba(255, 0, 0, 0.808);
  padding: 15px 40px;
  margin-left: 22px;
  border-radius: 30px;
  color: white;
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  transition: 1s;
}
main > .menus-part5 > .bottom-menu > .left a:hover {
  background-color: #222;
}
main > .menus-part5 > .bottom-menu > .right {
  width: 50%;
  background-image: url("../img/10.jpg");
  background-size: cover;
}
main > .meet-part6 {
  width: 100%;
  min-height: 120vh;
  display: flex;
  flex-wrap: wrap;
}
main > .meet-part6 > .top-meet {
  width: 50%;
  height: 100px;
  margin: 100px auto;
}
main > .meet-part6 > .top-meet > * {
  text-align: center;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}
main > .meet-part6 > .top-meet > h2 {
  font-size: 2.8rem;
  color: rgba(0, 0, 0, 0.884);
}
main > .meet-part6 > .top-meet > p {
  font-size: 1.2rem;
  color: #504f4f;
}
main > .meet-part6 > .bottom-meet {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main > .meet-part6 > .bottom-meet > figure {
  width: 20%;
  height: 350px;
}
main > .meet-part6 > .bottom-meet > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s;
}
main > .meet-part6 > .bottom-meet > figure > img:hover {
  transform: translateY(-20px);
}
main > .meet-part6 > .bottom-meet > figure > figcaption {
  text-align: center;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}
main > .meet-part6 > .bottom-meet > figure > figcaption > h3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.5rem;
}
main > .meet-part6 > .bottom-meet > figure > figcaption > h4 {
  color: #929292;
}
main > .blog-part7 {
  width: 100%;
  height: 100vh;
}
main > .blog-part7 > .top-blog {
  width: 50%;
  height: 100px;
  margin: 100px auto;
}
main > .blog-part7 > .top-blog > * {
  text-align: center;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}
main > .blog-part7 > .top-blog > h2 {
  font-size: 2.8rem;
  color: rgba(0, 0, 0, 0.884);
}
main > .blog-part7 > p {
  font-size: 1.2rem;
  color: #646363;
  font-family: "Lato", sans-serif;
}
main > .blog-part7 > .bottom-blog {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main > .blog-part7 > .bottom-blog > div {
  width: 20%;
  height: 400px;
}
main > .blog-part7 > .bottom-blog > div > figure {
  width: 100%;
  height: 200px;
}
main > .blog-part7 > .bottom-blog > div > figure > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1.5s;
}
main > .blog-part7 > .bottom-blog > div > figure > img:hover {
  transform: scaleX(-1);
}
main > .blog-part7 > .bottom-blog > div > button {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  transition: 0.6s;
}
main > .blog-part7 > .bottom-blog > div > button:hover {
  background-color: rgba(255, 0, 0, 0.808);
  border: none;
}
main > .blog-part7 > .bottom-blog > div > h2 {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.87);
  transition: 0.6s;
  cursor: default;
  font-family: "Lato", sans-serif;
}
main > .blog-part7 > .bottom-blog > div > h2:hover {
  color: rgba(255, 0, 0, 0.808);
}
main > .blog-part7 > .bottom-blog > div > p {
  margin-top: 10px;
  color: #929292;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
}
main > .foot {
  width: 100%;
  height: 50vh;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main > .foot > .first {
  width: 28%;
  height: 200px;
}
main > .foot > .first > * {
  color: white;
  margin-top: 20px;
  padding-left: 30px;
  font-family: "Lato", sans-serif;
}
main > .foot > .first > h3 {
  font-size: 1.4rem;
}
main > .foot > .first > p {
  line-height: 30px;
  margin-bottom: 20px;
  color: #979595;
}
main > .foot > .first > span {
  color: rgba(255, 0, 0, 0.808);
  font-size: 2.5rem;
  font-weight: bold;
}
main > .foot > .second {
  width: 25%;
  height: 200px;
}
main > .foot > .second > * {
  color: white;
  margin-top: 20px;
  padding-left: 30px;
  font-family: "Lato", sans-serif;
}
main > .foot > .second > h3 {
  font-size: 1.4rem;
}
main > .foot > .second h2 {
  font-size: 1.8rem;
  color: rgba(214, 128, 128, 0.808);
  margin-top: 70px;
}
main > .foot > .second > p {
  line-height: 30px;
  color: #979595;
}
main > .foot .third {
  width: 35%;
  height: 200px;
}
main > .foot .third > * {
  color: white;
  margin-top: 20px;
  padding-left: 30px;
  font-family: "Lato", sans-serif;
}
main > .foot .third > h3 {
  font-size: 1.4rem;
}
main > .foot .third > p {
  line-height: 30px;
  margin-bottom: 20px;
  color: #979595;
}/*# sourceMappingURL=master.css.map */